<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>jp.co.cyberdom.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0a</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0a</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Cyberdomain,Inc. All rights reserved.</string>
	<key>WebPluginDescription</key>
	<string>GrowlSafariBridge Safari Plugin is Growl notifications from javascript.</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-growl-safari-bridge</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Growl Safari Bridge</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>${PRODUCT_NAME}</string>
</dict>
</plist>
